@model int;
 
<div class="text-center">
    <h2>Спасибо за покупку!</h2>
    <p>Номер вашего заказа: №@Model</p>
    <p>Мы доставим ваши товары как можно быстрее</p>
    <a class="btn btn-primary" asp-controller="Home">Вернуться на главную</a>
</div>