<h1 class="mb-2 font-weight-bold">О нас</h1>
<p><strong>Мы</strong> - команда профессионалов, которая каждый день работает над тем, чтобы улучшить наш магазин и сделать его максимально удобным для клиента</p>
<br/>
<h1 class="mb-2 font-weight-bold">SPORTIK был основан в 2013 году </h1>
<p>Всё началось с того, что два друга решили наполнить свою жизнь чем-то новым, стать более активнее, в связи с чем занялись спортом.</p>
<p>Ребята настолько увлеклись спортом, что им потребовалось профессиональное оборудование, которое в те времена было достать не так уж и просто.</p>
<p>На данной почве у них возникает идея, а почему бы не сделать магазин, который будет предоставлять это самое оборудование?</p>
<p>Так и появился SPORTIK. Название совершенно простое, но в этом то и шарм.</p>