<footer>
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <!--<img src="~/img/logo.svg" width="20" height="20" />-->
                <span class="text-muted">© 2022 Sportik, Inc</span>
            </div>
            <div class="nav col-md-4 justify-content-end d-flex">
                <a class="text-muted mr-3" href="https://vk.com/sportik"><i class="fab fa-2x fa-vk social-icon"></i></a>
                <a class="text-muted mr-3" href="https://instagram.com/sportik"><i class="fab fa-2x fa-instagram social-icon"></i></a>
                <a class="text-muted mr-3" href="https://youtube.com/sportik"><i class="fab fa-2x fa-youtube social-icon"></i></a>
            </div>
        </div>
    </div>
</footer>